# --- Python & Flask ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env
instance/
.webassets-cache

# --- Veritabanı ---
*.db
*.sqlite3
db.sqlite3-journal

# --- Kullanıcı Yüklemeleri (Yüklenen fotoğraflar gizli kalır) ---
static/uploads/*
!static/uploads/.gitkeep

# --- IDE & İşletim Sistemi Kalıntıları ---
.vscode/
.idea/
.DS_Store
Thumbs.db
